__pycache__/
*.py[cod]
.venv/
my_new_venv/
.idea/
.DS_Store
cleaned-repo/
cleaned-repo-2/
node_modules/
*.pyc
__pycache__
.env
.venv
ar_venv
tests
docs
*.log
node_modules
static/uploads
ILM1.git/
ar_venv/
DataTables/
venv/
.idea/
venv/
