__pycache__/
/new-start-29051/

*.py[cod]
.venv/
/venv/
.env.development
.env.production

my_new_venv/
.idea/
.DS_Store
cleaned-repo/
cleaned-repo-2/
node_modules/
*.pyc
__pycache__
.env
.venv
ar_venv
tests
docs
*.log
node_modules
ILM1.git/
ar_venv/
DataTables/
venv/
.idea/
venv/
# Ignore files starting with "new-start-29051.git"
new-start-29051.git/*
db_posgres_test.py
