<!-- app/templates/home/dynamic_route.html -->
{% extends 'base.html' %}

{% block title %}Site Map{% endblock %}

{% block content %}
    <h1>Site Map</h1>

    <pre>{{ menu_tree | safe }}</pre>

    <!-- Back Button -->
    <button onclick="goBack()">Back</button>

    <!-- Home Button -->
    <button onclick="goHome()">Home</button>

    <script>
        // Function to navigate back
        function goBack() {
            window.history.back();
        }

        // Function to navigate to the home page
        function goHome() {
            window.location.href = "{{ url_for('routes.index') }}";  // Replace 'index' with the actual route for your home page
        }
    </script>
{% endblock %}
