{% extends 'argon-dashboard/questionnaire_base.html' %}

{% block content %}
<div class="container">
    <h2>Create New Questionnaire</h2>
    <form action="{{ url_for('argon.create_questionnaire') }}" method="POST">
        {{ form.hidden_tag() }} <!-- CSRF Token -->

        <div class="form-group">
            <label for="questionnaire_id">{{ form.questionnaire_id.label }}</label>
            {{ form.questionnaire_id(class="form-control") }}
        </div>

        <div class="form-group">
            <label for="name">{{ form.name.label }}</label>
            {{ form.name(class="form-control") }}
        </div>

        <div class="form-group">
            <label for="questionnaire_type">{{ form.questionnaire_type.label }}</label>
            {{ form.questionnaire_type(class="form-control") }}
        </div>

        <div class="form-group">
            <label for="interval">{{ form.interval.label }}</label>
            {{ form.interval(class="form-control") }}
        </div>

        <div class="form-group">
            <label for="deadline_date">{{ form.deadline_date.label }}</label>
            {{ form.deadline_date(class="form-control") }}
        </div>

        <div class="form-group">
            <label for="status_id">{{ form.status_id.label }}</label>
            {{ form.status_id(class="form-control") }}
        </div>

        <button type="submit" class="btn btn-primary">Create Questionnaire</button>
    </form>
</div>
{% endblock %}
