{% extends 'argon-dashboard/plan_base.html' %}

{% block content %}
<div class="container">
    <h2>Project Products</h2>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Currency</th>
                <th>Plans</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.currency }}</td>
                <td>
                    <ul>
                        {% for plan_product in product.plan_products %}
                        <li>{{ plan_product.plan.name }} (Billing Cycle: {{ plan_product.plan.billing_cycle }})</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
