{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <h2 class="text-white">Inflation Data</h2>
    <table class="table table-light table-striped">
        <thead>
            <tr>
                <th>Date</th>
                <th>Inflation Rate</th>
            </tr>
        </thead>
        <tbody>
            {% for data in inflation_data %}
            <tr>
                <td>{{ data.date }}</td>
                <td>{{ data.inflation_rate }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
