
<template>
 <div>
   <ul class="nav nav-tabs">
     <li class="nav-item">
       <a class="nav-link active" data-toggle="tab" href="#tab-1">Tab 1</a>
     </li>
     <li class="nav-item">
       <a class="nav-link" data-toggle="tab" href="#tab-2">Tab 2</a>
     </li>
     <li class="nav-item">
       <a class="nav-link" data-toggle="tab" href="#tab-3">Tab 3</a>
     </li>
   </ul>

   <div class="tab-content">
     <div class="tab-pane active" id="tab-1">
       <form>
         </form>
     </div>
     <div class="tab-pane" id="tab-2">
       <form>
         </form>
     </div>
     <div class="tab-pane" id="tab-3">
       <form>
         </form>
     </div>
   </div>
 </div>
</template>

<script>
export default {
 data() {
   return {
     currentTab: 'tab-1'
   };
 },
 watch: {
   currentTab(newTab) {
     $(`a[href="#${newTab}"]`).tab('show');
   }
 }
};
</script>