
<p>Data in template: {{ recordset }}</p>


{% for item in recordset %}

    <tr>
        <td>{{ item.Reference_Date }}</td>
        <td>{{ item.Interval_ID }}</td>
        <td>{{ item.Status_ID }}</td>
        <td>{{ item.User_ID }}</td>
        <td>{{ item.Type_ID }}</td>
        <td>{{ item.Topic_ID }}</td>
        <td>{{ item.Topic1_ID }}</td>
        <td>{{ item.Topic2_ID }}</td>
        <td>{{ item.Topic3_ID }}</td>
        <td>{{ item.Dimension1_ID }}</td>
        <td>{{ item.Dimension2_ID }}</td>
        <td>{{ item.Dimension3_ID }}</td>
        <td>{{ item.Dimension4_ID }}</td>
        <td>{{ item.Dimension5_ID }}</td>
        <td>{{ item.Dimension6_ID }}</td>
        <td>{{ item.Dimension7_ID }}</td>
        <td>{{ item.Extended_Data }}</td>
        <td>{{ item.Created_On }}</td>
        <td>{{ item.Created_By }}</td>
    </tr>


{% endfor %}

<!-- Pagination navigation -->
<nav aria-label="Page navigation">
    <ul class="pagination">
        {% if recordset.has_prev %}
            <li class="page-item"><a class="page-link" href="{{ url_for('central_data', page=recordset.prev_num) }}">Previous</a></li>
        {% else %}
            <li class="page-item disabled"><span class="page-link">Previous</span></li>
        {% endif %}

        {% for p in recordset.iter_pages() %}
            {% if p %}
                {% if p == recordset.page %}
                    <li class="page-item active"><span class="page-link">{{ p }}</span></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="{{ url_for('central_data', page=p) }}">{{ p }}</a></li>
                {% endif %}
            {% endif %}
        {% endfor %}

        {% if recordset.has_next %}
            <li class="page-item"><a class="page-link" href="{{ url_for('central_data', page=recordset.next_num) }}">Next</a></li>
        {% else %}
            <li class="page-item disabled"><span class="page-link">Next</span></li>
        {% endif %}
    </ul>
</nav>

