{% extends 'base.html' %}

{% block title %}Delete Data - {{ super() }}{% endblock %}

{% block content %}
    <h1>Delete Data</h1>
    <p>Are you sure you want to delete the following data?</p>
    {% for column in data.__table__.columns %}
        <p><strong>{{ column.name|title }}:</strong> {{ data[column.name] }}</p>
    {% endfor %}

    <form method="post" action="{{ url_for('blueprint_global.delete_data', id=data.id) }}">
        <button type="submit">Delete</button>
    </form>

    <a href="{{ url_for('blueprint_global.generic') }}">Cancel</a>
{% endblock %}
