
{% extends 'base.html' %}

{% block title %}Edit Data - {{ super() }}{% endblock %}

{% block content %}
    <h1>Edit Data</h1>

    <form method="post" action="{{ url_for('blueprint_global.edit_data', id=data.id) }}">
        <div style="display: flex; justify-content: space-between; flex-wrap: wrap;">
            {% for column in data.__table__.columns %}
                {% if column.name == 'registration_date' %}
                    <!-- Skip 'registration_date' field -->
                {% elif column.name == 'username' %}
                    <!-- Display 'username' field as readonly -->
                    <div style="width: 40%;">
                        <label for="{{ column.name }}">{{ column.name|title }}:</label>
                        <input type="text" name="{{ column.name }}" id="{{ column.name }}" value="{{ data[column.name] }}" readonly>
                    </div>
                {% elif column.name not in ['email', 'password'] %}
                    <div style="width: 40%;">
                        <label for="{{ column.name }}">{{ column.name|title }}:</label>
                        {% if 'text' in column.type.python_type.__name__.lower() %}
                            <textarea name="{{ column.name }}" id="{{ column.name }}" rows="4" cols="50" required>{{ data[column.name] }}</textarea>
                        {% elif 'user' in column.type.python_type.__name__.lower() %}
                            <!-- Exclude 'user' fields from the form -->
                        {% elif 'date' in column.type.python_type.__name__.lower() %}
                            {{ data[column.name]|default('Not a datetime object')|safe }}
                            {% if data[column.name] is defined and data[column.name] is sameas('datetime') %}
                                <input type="text" name="{{ column.name }}" id="{{ column.name }}" value="{{ data[column.name]|format('%Y-%m-%d %H:%M:%S.%f') }}" readonly>
                            {% else %}
                                <input type="text" name="{{ column.name }}" id="{{ column.name }}" value="{{ data[column.name] }}" required>
                            {% endif %}
                        {% else %}
                            <input type="text" name="{{ column.name }}" id="{{ column.name }}" value="{{ data[column.name] }}" required>
                        {% endif %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>

        <!-- Add other form fields as needed -->

        <button type="submit">Save Changes</button>
    </form>


    <a href="{{ url_for('blueprint_global.generic') }}">Cancel</a>
{% endblock %}

