<!DOCTYPE html>
<html>
<head>
    <title>Document Workflow</title>
    {{ figure.head }}

</head>
<body>
    <h1>Document Workflow: {{ document.name }}</h1>
    <p>Current Step: {{ current_step.name if current_step else 'None' }}</p>

    {{ form.hidden_tag() }}

    <form method="POST">
        {{ form.next_step.label }} {{ form.next_step(size=1) }}<br>
        {{ form.submit }}
    </form>

    {% block plotly %}
        <script>
          var plotConfig = {{ plot_config }};
        </script>

        {{ plot_html }}
    {% endblock %}

</body>
</html>
