<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    {% block head %}{% endblock %}
</head>

<body>
    <header>
        <h1>{% block header %}Upcoming Events{% endblock %}</h1>
    </header>
    <div class="container">
        <nav>
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('back') }}">Back</a></li>
            </ul>
        </nav>

        <main>
            <div class="row">
                {% for card in cards %}
                <div class="col-md-4" onclick="openAdmin({{ card.id }})">
                    <!-- Apply conditional styling based on deadline_before -->
                    <div class="card {{ 'card-deadline-approaching' if card['deadline_before'] < 0 else '' }}">
                        {{ card.html | safe }}
                    </div>
                </div>
                {% endfor %}
            </div>
        </main>

        <footer>
            <p class="small-font">&copy; 2024 ILM - all rights reserved</p>
        </footer>
    </div>

    <script>
        function openAdmin(id) {
            window.location.href = "/open_admin_3/upload_documenti_view_existing/edit/?id=" + id;
        }
    </script>
</body>

</html>
