{% extends 'base.html' %}
{% block content %}
<h2>Create Ticket</h2>
<form method="POST">
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.subject.label(class="form-label") }}
        {{ form.subject(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.description.label(class="form-label") }}
        {{ form.description(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.submit(class="btn btn-primary") }}
    </div>
</form>
{% endblock %}
