<!-- crud_retrieve_template.html -->
{% extends "base.html" %}

{% block content %}
    <div class="container">
        <h1>{{ model_name|capitalize }} details</h1>
        <div class="row">
            {% for field_name in field_names %}
                <div class="col-md-4">
                    <label for="{{ field_name }}">{{ field_name }}:</label>
                    <p>{{ item[field_name] }}</p>
                </div>
            {% endfor %}
        </div>
        <div class="row mt-3">
            <div class="col-md-4">
                <a href="{{ url_for(model_name|lower + '.read') }}" class="btn btn-primary">Back to List</a>
            </div>
        </div>
    </div>
{% endblock %}
