{% extends "base.html" %}

{% block content %}
<div id="questionnaire"></div>
<div id="navigation-buttons">
    <button id="back" style="display:none;">Back</button>
    <button id="home">Home</button>
    <button id="submit" style="display:none;">Submit</button>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    let currentQuestionIndex = 0;
    let answers = {};
    let questionHistory = [];
    let questions = [
        {
            "id": 1,
            "text": "Have you reported malfunctions in your system?",
            "type": "boolean",
            "options": [
                {"value": "yes", "text": "Yes"},
                {"value": "no", "text": "No"}
            ],
            "next": {
                "yes": 2,
                "no": 6
            }
        },
        {
            "id": 2,
            "text": "Is the duration of the solution longer than one month?",
            "type": "boolean",
            "options": [
                {"value": "yes", "text": "Yes"},
                {"value": "no", "text": "No"}
            ],
            "next": {
                "yes": 3,
                "no": 6
            }
        },
        {
            "id": 3,
            "text": "Please describe the method used to assess the loss",
            "type": "text",
            "next": {
                "any": 4
            }
        },
        {
            "id": 4,
            "text": "Was the method approved by the company?",
            "type": "boolean",
            "options": [
                {"value": "yes", "text": "Yes"},
                {"value": "no", "text": "No"}
            ],
            "next": {
                "yes": 5,
                "no": 6
            }
        },
        {
            "id": 5,
            "text": "Please provide proof",
            "type": "file",
            "next": {
                "any": 6
            }
        },
        {
            "id": 6,
            "text": "Did you encounter issues in the evaluation process?",
            "type": "boolean",
            "options": [
                {"value": "yes", "text": "Yes"},
                {"value": "no", "text": "No"}
            ],
            "next": {
                "yes": 7,
                "no": "end"
            }
        },
        {
            "id": 7,
            "text": "Did you receive complaints?",
            "type": "boolean",
            "options": [
                {"value": "yes", "text": "Yes"},
                {"value": "no", "text": "No"}
            ],
            "next": {
                "yes": 8,
                "no": "end"
            }
        },
        {
            "id": 8,
            "text": "Provide proof",
            "type": "file",
            "final": true
        }
    ];

    $(document).ready(function () {
        showQuestion(questions[currentQuestionIndex]);

        $('#submit').click(function () {
            let formData = new FormData();
            formData.append('questionnaire_id', 1);
            formData.append('user_id', 123);

            for (let key in answers) {
                if (answers[key] instanceof File) {
                    formData.append(`file_${key}`, answers[key]);
                } else {
                    formData.append(`answer_${key}`, answers[key]);
                }
            }

            $.ajax({
                url: '/submit_response',
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function(response) {
                    alert(response.message);
                }
            });
        });

        $('#back').click(function () {
            if (questionHistory.length > 0) {
                currentQuestionIndex = questionHistory.pop();
                showQuestion(questions[currentQuestionIndex], true);
            }
        });

        $('#home').click(function () {
            window.location.href = '/';
        });
    });

    function showQuestion(question, isBack = false) {
        if (!isBack) {
            questionHistory.push(currentQuestionIndex);
        }

        const questionDiv = $('<div>').attr('id', `question-${question.id}`);
        questionDiv.append($('<p>').text(question.text));

        if (question.type === 'boolean') {
            question.options.forEach(option => {
                const button = $('<button>')
                    .text(option.text)
                    .click(() => handleAnswer(question.id, option.value));
                questionDiv.append(button);
            });
        } else if (question.type === 'text') {
            const input = $('<input>')
                .attr('type', 'text')
                .change(function () {
                    handleAnswer(question.id, $(this).val());
                });
            questionDiv.append(input);
        } else if (question.type === 'file') {
            const input = $('<input>')
                .attr('type', 'file')
                .change(function () {
                    handleAnswer(question.id, $(this).prop('files')[0]);
                });
            const skipButton = $('<button>')
                .text('Skip')
                .click(() => handleAnswer(question.id, ''));
            questionDiv.append(input, skipButton);
        }

        $('#questionnaire').append(questionDiv);
        if (currentQuestionIndex > 0) {
            $('#back').show();
        } else {
            $('#back').hide();
        }
    }

    function handleAnswer(questionId, answer) {
        answers[questionId] = answer;
        const currentQuestion = questions.find(q => q.id === questionId);
        const nextQuestionId = currentQuestion.next[answer] || currentQuestion.next['any'];
        const nextQuestion = questions.find(q => q.id === nextQuestionId);

        if (nextQuestion) {
            currentQuestionIndex = questions.indexOf(nextQuestion);
            showQuestion(nextQuestion);
        } else {
            $('#submit').show();
        }
    }
</script>
{% endblock %}
