<!-- File: templates/admin/create_base_data.html -->

{% extends 'admin/model/create.html' %}

{% block body %}
  {{ super() }}
  <style>
    /* Add your custom CSS here */
    .form-horizontal .form-group {
        margin-bottom: 0;
    }

    .form-horizontal .control-label {
        float: left;
        width: 150px; /* Adjust the width as needed */
        text-align: right;
        margin-right: 10px; /* Adjust the margin as needed */
    }

    .form-horizontal .controls {
        overflow: hidden;
    }

    .form-horizontal .controls input,
    .form-horizontal .controls select,
    .form-horizontal .controls textarea {
        width: auto;
        float: left;
        margin-right: 10px; /* Adjust the margin as needed */
    }
  </style>

{% endblock %}
