<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}My App{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
        <img src="{{ url_for('static', filename='ilm_logo_1.png') }}" alt="My Logo" style="height: 50px;">
        <a class="navbar-brand" href="{{ url_for('routes.index') }}">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav main-menu">
                {% for menu_item in main_menu_items %}
                    {% if menu_item_allowed(menu_item, user_roles) %}
                        <li class="nav-item{% if menu_item.submenus %} has-submenu{% endif %}">
                            <a class="nav-link" href="{{ menu_item.url }}">
                                {{ menu_item.label }}
                                {% if menu_item.submenus %}
                                    <span class="submenu-indicator"></span>
                                {% endif %}
                            </a>
                            {% if menu_item.submenus %}
                                <!-- Submenus -->
                                <ul class="submenu">
                                    {% for submenu in menu_item.submenus %}
                                        {% if menu_item_allowed(submenu, user_roles) %}
                                            <li class="nav-item">
                                                <a class="nav-link" href="{{ submenu.url }}">{{ submenu.label }}</a>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </nav>

    <div class="container mt-4">
        {% block content %}{% endblock %}
    </div>

    <script src="https://code.jquery.com/jquery-3.7.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
