<!DOCTYPE html>
<html>
<head>
    <title>Company Files</title>
</head>
<body>
    <h1>Files for Company {{ company_id }}</h1>

    <table>
        <thead>
            <tr>
                <th>Filename</th>
                <th>Size</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for file in files %}
            <tr>
                <td>{{ file.filename }}</td>
                <td>{{ file.size | human_readable_size }}</td>
                <td>
                    <a href="{{ url_for('download_file', company_id=company_id, filename=file.filename) }}">Download</a>
                    </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
