{% extends 'base.html' %}

{% block content %}

    {% block title %}Questions associated to questionnaires{% endblock %}

    <form method="POST" class="my-8 mx-auto" style="max-width: 80%;">
        {{ form.hidden_tag() }}

        <div class="row mb-4">
             <div class="col-md-6">
                <label for="questionnaire" class="form-label">Select Questionnaire:</label>
                {{ form.questionnaire(class="form-control") }}
            </div>
            <div class="col-md-6">
                <label for="question" class="form-label">Select Question:</label>
                {{ form.question(class="form-control") }}
            </div>

        </div>

        <div class="row mb-4">
            <div class="col-md-12">
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    {{ form.add(class="btn btn-primary me-md-2") }}
                    {{ form.delete(class="btn btn-danger me-md-2") }}
                    {{ form.cancel(class="btn btn-secondary") }}
                </div>
            </div>
        </div>

        {% if message %}
        <div class="row mb-4">
            <div class="col-md-12">
                <div class="alert alert-info" questionnaire="alert">
                    {{ message }}
                </div>
            </div>
        </div>
        {% endif %}

    </form>
    <!-- Include Bootstrap JS and Popper.js from CDN (optional) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

{% endblock %}
