//file meant to override flask admin (home unresponsive)

<!DOCTYPE html>
<html>
  <head>
    <title>Home - Area 1</title>

        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <link href="/open-admin/static/bootstrap/bootstrap3/swatch/default/bootstrap.min.css?v=3.3.5" rel="stylesheet">
        <link href="/open-admin/static/bootstrap/bootstrap3/css/bootstrap-theme.min.css?v=3.3.5" rel="stylesheet">
        <link href="/open-admin/static/admin/css/bootstrap3/admin.css?v=1.1.1" rel="stylesheet">
	    <link href="/open-admin/static/admin/css/bootstrap3/submenu.css" rel="stylesheet">

        <style>
        body {
            padding-top: 4px;
        }
        </style>

  </head>
  <body>

    <div class="container">
      <nav class="navbar navbar-default" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#admin-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <a class="navbar-brand" href="/open-admin">Area contr. 1</a>

        </div>
        <!-- navbar content -->
        <div class="collapse navbar-collapse" id="admin-navbar-collapse">

          <ul class="nav navbar-nav">


        <li class="active">
          <a href="/open-admin/">Home</a>
        </li>
        <li>
          <a href="/open-admin/flussi_data_view/">Flussi pre-complaint</a>
        </li>
        <li>
          <a href="/open-admin/atti_data_view/">Atti complaint</a>
        </li>
        <li>
          <a href="/open-admin/contenziosi_data_view/">Contenziosi</a>
        </li>
        <li>
          <a href="/open-admin/contingencies_data_view/">Contingencies</a>
        </li>
        <li>
          <a href="/open-admin/iniziative_dso_as_data_view/">Iniziative DSO vs amministrazioni</a>
        </li>
        <li>
          <a href="/open-admin/iniziative_as_dso_data_view/">Amministrazioni vs DSO</a>
        </li>
        <li>
          <a href="/open-admin/iniziative_dso_dso_data_view/">DSO vs DSO/TSO</a>
        </li>

          </ul>

          <ul class="nav navbar-nav navbar-right">

          </ul>

        </div>
      </nav>

    </div>

    <script src="/open-admin/static/vendor/jquery.min.js?v=3.5.1" type="text/javascript"></script>
    <script src="/open-admin/static/bootstrap/bootstrap3/js/bootstrap.min.js?v=3.3.5" type="text/javascript"></script>
    <script src="/open-admin/static/vendor/moment.min.js?v=2.22.2" type="text/javascript"></script>
    <script src="/open-admin/static/vendor/select2/select2.min.js?v=3.5.2" type="text/javascript"></script>
    <script src="/open-admin/static/admin/js/helpers.js?v=1.0.0" type="text/javascript"></script>

  </body>
</html>