{% extends 'base.html' %}

{% block content %}
  <h2>{{ questionnaire_name }}</h2>
  <form id="questionnaireForm" method="POST" action="/process_questionnaire?id={{ questionnaire_id }}" enctype="multipart/form-data">
    {% for question in questions %}
      <div class="form-group">
        <label class="form-control-label">{{ question.text }}</label>

        {% if question.field_type == 'InlineField' %}
          <div class="form-row">
            {% for inline_field in question.inline_fields %}
              <div class="col">
                {% if inline_field.field_type == 'TextLine' %}
                  <input class="form-control" type="text" name="{{ question.field_name }}_{{ inline_field.name }}">
                {% elif inline_field.field_type == 'NumberField' %}
                  <input class="form-control" type="number" step="0.01" name="{{ question.field_name }}_{{ inline_field.name }}">
                {% elif inline_field.field_type == 'FileField' %}
                  <input class="form-control" type="file" name="{{ question.field_name }}_{{ inline_field.name }}">
                {% else %}
                  <input class="form-control" type="text" name="{{ question.field_name }}_{{ inline_field.name }}">
                {% endif %}
              </div>
            {% endfor %}
          </div>
          <input type="hidden" id="{{ question.field_name }}_value" name="{{ question.field_name }}_value">
        {% elif question.field_type == 'DateField' %}
          <input class="form-control datepicker" type="text" name="{{ question.field_name }}" autocomplete="off">
        {% elif question.field_type == 'BooleanField' %}
          <input class="form-check-input" type="checkbox" name="{{ question.field_name }}">
        {% elif question.field_type == 'FloatField' %}
          <input class="form-control" type="number" step="0.01" name="{{ question.field_name }}">
        {% elif question.field_type == 'TimeField' %}
          <input class="form-control" type="time" name="{{ question.field_name }}">
        {% else %}
          <input class="form-control" type="text" name="{{ question.field_name }}">
        {% endif %}

        {# Display errors if any #}
        {% if question.errors %}
          <small class="form-text text-danger">{{ question.errors[0] }}</small>
        {% endif %}
      </div>
    {% endfor %}

    <input class="btn btn-secondary" type="button" value="Retrieve" onclick="retrieveAnswers({{ questionnaire_id }})">
    <input type="submit" name="save" value="Save">
    <input type="submit" name="submit" value="Submit">

    <input type="hidden" name="questionnaire_id" value="{{ questionnaire_id }}">
    <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
    <span class="csrf-token">{{ csrf_token }}</span>

    <div id="retrieved-answers"></div>
    <div>{{ message }}</div>
  </form>

  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script>

    function handleFormAction(action) {
        const form = document.getElementById('questionnaireForm');
        const formData = new FormData(form);

        // Add questionnaire_id to the FormData
        formData.append('questionnaire_id', '{{ questionnaire_id }}');

        fetch(`/${action}_answer?id={{ questionnaire_id }}`, {
            method: 'POST',
            body: formData,
        })
        .then(response => response.json())
        .then(data => {
            console.log(data);
            // Handle the response as needed
        })
        .catch(error => {
            console.error(error);
            // Handle errors if any
        });
    }

  </script>
{% endblock %}
